* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.middle-section {
  margin-left: 70px;
  margin-right: 35px;
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.righ-section button {
  background-color: black;
  border-color: black;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  height: 40px;
  padding-left: 10px;
  border-color: rgb(215, 213, 213);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(245, 243, 243);
  border-width: 1px;
  border-color: rgb(215, 213, 213);
  border-style: solid;
  border-width: 1px;
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-search {
  height: 25px;
}

.right-most-section {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.img-cart {
  width: 55px;
  margin-right: 30px;
}

.cart-container {
  position: relative;
}

.cart-counter {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 500;
  margin-top: -43px;
  margin-left: 24px;
}

.righ-section {
  display:  flex;
  justify-content: center;
  align-items: center;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-role {
  margin-right: 20px;
  font-weight: bold;
  color: white;
}


/* Sección de Carrito */
.cart-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
}

/* Sección de Producto */
.product-section {
  flex: 2;
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-section {
  flex: 1;
}

.product-image-container {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
}

.info-section {
  flex: 2;
  margin-left: 40px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.price {
  font-size: 26px;
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 10px;
}

.stock {
  font-size: 18px;
  color: #2ecc71;
  font-weight: bold;
  margin-bottom: 20px;
}

.description h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Sección de Resumen del Carrito */
.cart-summary {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}

.cart-summary h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-summary p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cart-summary span {
  font-weight: bold;
  color: #e74c3c;
}

.checkout-btn {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-btn:hover {
  background-color: white;
  color: black;
}

.checkout-btn:active {
  opacity: 0.6;
}


footer {
  margin-top: 71px;
  text-align: center;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}
