* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: white;
  color: black;
  border: 2px solid white;
  border-color: black;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.20s;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn:active {
  opacity: 0.3;
}


main {
  background-color: white;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 700px;
}

.imagen-home {
  height: 400px;
  margin-right: 100px;
}

main h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

main p {
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

main button {
  background-color: #fff;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: solid;
  transition: opacity 0.15s;
}

main button:hover {
  opacity: 0.6;
}

main button:active {
  opacity: 0.4;
}
